body {
  font-family: "IBM Plex Sans", sans-serif;
}

.logo {
  float: center;
  padding: 30px 30px;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  margin: 0 auto;
  color: #fff;
}

.navbar {
  background-color: #55828b;
}

.btn-cl {
  font-size: 1.3rem;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: #364958;
  color: #fff;
  border: none;
  outline: none;
  background-color: #364958;
  box-shadow: 3px 3px #87bba2;
}

.btn-cl:focus {
  outline: none;
}

#username {
  width: 100%;
  margin: 0 auto;
}

.search-bar {
  margin: 0 20px;
}

.card-1 {
  margin: 15px 15px;
  border-top-style: none;
}

#recent-cities {
  width: 28%;
  margin: 5px 30px;
}

#cities {
  background-color: #364958;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  box-shadow: 3px 3px #87bba2;
}

